<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Alexia Avelar | Bussiness Engineer Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/tarea2-portafolioweb/static/main.css"/>
    <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/workspace.ico" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="nav-brand">
            <a href="index.html">
              <img src="/static/images/workspace.ico" alt="icon" />
            </a>
          </div>
          <div class="burger-menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#landing-page">
                <img
                  src="/static/images/profilepic.jpeg"
                  alt="Alexia Avelar"
                  class="profilepic nav-link"
                />
                <span class="caption nav-link">Alexia Avelar</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">Extracurricular</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="https://www.facebook.com/alexia.far/" class="nav-link">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://github.com/alexia-avelar" class="nav-link">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="landing-page" class="landing-page">
        <div class="container">
          <div class="main-message">
            <h2>Alexia Avelar</h2>
            <h3>{Bussiness Engineer Student}</h3>
            <p>Curriculum vitae</p>
            <div class="intro-btn">
              <div class="cta">
                <a href="#contact" class="btn">Get In Touch</a>
              </div>
              <div class="cta">
                <a href="#services" class="btn">Extracurricular</a>
              </div>
            </div>
            <div>
              <a href="#about" class="scroll-down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container">
          <div class="about-img">
            <img
              src="/static/images/profilepic.jpeg"
              alt="Alexia Avelar"
              class="about-pic"
            />
          </div>
          <div class="about-text-box">
            <h2>¡Hola!👋🏻</h2>
            <p>
                INFORMACIÓN PERSONAL
                <br>Nombre completo: Alexia Fabiola Avelar Reyes
                <br>Fecha de nacimiento: 12 de mayo de 2001
                <br>Lugar de nacimiento: San Salvador, El Salvador
                <br>Teléfono de contacto: +503 7753-5619
                <br>Ocupación: Estudiante universitaria
            </p>

            <p>
                <br>
                FORMACIÓN ACADÉMICA
                <br>Escuela primaria y secundaria:
                <br>-Colegio Jardín Ventanal (2004-2005)
                <br>-Colegio Bilingüe A Child For Christ (2006)
                <br>-Liceo Bautista Ilopango (2007-2012)
                <br>-Colegio Español Padre Arrupe (2013-2018)
                <br>
                <br>Educación superior:
                <br>-Escuela Superior de Economía y Negocios (2019-actualidad)
            </p>  
              
            <p>
                FORMACIÓN COMPLEMENTARIA:
                <br>Estudiante en Academia de Programación <a href="https://www.facebook.com/KOD1GO.ORG/">KODIGO</a>
            </p>

            <p>
                EXTRA:
                <br>Idiomas: Español (lengua nativa), inglés (avanzado) y coreano (básico)
                <br>Lenguajes de programación: Java, Python, C++, JavaScript, SQL.
                <br>Manejo de herramientas como Excel, Word, Powerpoint, Photoshop, etc.
            </p>

          </div>
        </div>
        <hr />
      </section>
      <section id="services" class="services">
        <div class="container">
          <div class="title-heading">
            <h2>MIS ACTIVIDADES EXTRACURRICULARES</h2>
            <p>
              Información extra para brindar una mejor perspectiva sobre quién soy y lo que me apasiona.
            </p>
          </div>
          <div class="service-tiers">
            <div class="tier-item">
              <h2>PROBECAS</h2>
              <p>
                Actualmente, soy vicepresidenta de Probecas y miembro de la comisión de Logística. Somos una asociación cuyo objetivo es ayudar económicamente, a través de becas, a jóvenes salvadoreños que buscan cumplir sus sueños de realización académica.
                Nuestro evento principal de recolección de fondos es la carrera Probecas que se realiza, generalmente, a finales de septiembre.
              </p>
            </div>
            <div class="tier-item">
              <h2>HOPE</h2>
              <p>
                Actualmente, soy miembro de HOPE El Salvador y me desempeño, principalmente, en el área de Marketing. Somos una organización sin fines de lucro que busca concientizar a la sociedad salvadoreña sobre la importancia de luchar contra el cáncer.
                Colaboramos con el Hospital Bloom y la Fundación Ayúdame a Vivir. Esperamos que todos los niños puedan recibir el tratamiento que necesitan para curarse. 
              </p>
            </div>
            <div class="tier-item">
              <h2>Deportes</h2>
              <p>
                Actualmente, formo parte del equipo femenino de fútbol de la ESEN. Debido a la situación actual de la pandemia, las actividades del equipo y entrenamientos están suspendidos.
                Sin embargo, trato de practicarlo en mi casa de vez en cuando. Por otro lado, me encanta la natación y cuando tenga la oportunidad regresaré a las piscinas a disfrutar de mi hobbie.
              </p>
            </div>
          </div>
        </div>
        <hr />
      </section>
      
      <section id="contact" class="contact">
        <h2>¡Contáctame!</h2>
        <p>
          Soy una persona con muchas ganas de aprender cosas nuevas y dejar mi huella en la sociedad, si quieres hablar conmigo para conocer más de mí o estás interesad@ en mis habilidades de trabajo, no dudes en contactarme por cualquiera de los siguientes medios:
        </p>
        <div class="container">
          <p>
            <a href="mailto:a.avelar8d2015@gmail.com"><i class="fas fa-envelope-open"></i> a.avelar8d2015@gmail.com</a>
          </p>
          <p>
            <a href="https://www.facebook.com/alexia.far/"><i class="fab fa-facebook"> Facebook</i></a>
          </p>
          <p>
            <a href="https://github.com/alexia-avelar"><i class="fa fa-github"> Github</i></a>
          </p>
        </div>
        <hr />
      </section>
      <footer>
        <div class="footer-nav">
          <a href="#landing-page" class="footer-nav-link">Home</a>
          <a href="#about" class="footer-nav-link">About</a>
          <a href="#services" class="footer-nav-link">Extracurricular</a>
          <a href="#contact" class="footer-nav-link">Contact</a>
        </div>
        <div class="footer-coded-by">
          <p>
            <i class="fas fa-code"></i> with 💜 by Alexia Avelar &copy; 2021
          </p>
          <p>Built with pure HTML, CSS and JavaScript</p>
        </div>
        <div class="footer-social">
          <a href="https://www.facebook.com/alexia.far/"><i class="fab fa-facebook"></i></a>
          <a href="https://github.com/alexia-avelar"><i class="fab fa-github"></i></a>

        </div>
      </footer>
    </main>
    <script src="/tarea2-portafolioweb/static/main.js"></script>
  </body>
</html>
